@use "./UTILS/mixins";
@use "./COMPONENTS/header";
@use "./UTILS/variables";

// ===============================================> TABLET VIEW ==========>
@media all and (max-width: 768px) {
    .mobileNav {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ebebeb;
        z-index: 1;
        transform: translateX(100%);
        transition: 300ms ease;
        ul {
            display: flex;
            flex-direction: column;
            li {
                margin: 1rem;
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 4rem;
                    text-transform: capitalize;
                }
            }
        }
    }
    .showNav {
        transform: translateX(0);
    }
    .nav {
        &__list {
            display: none;
        }
        .hamburger {
            
            display: block;
            z-index: 6;
        }
    }
    .grid {
        @include mixins.grid(1fr, repeat(7, 1fr));
        row-gap: 1rem;
        h1 {
            font-size: 6rem;
            @include mixins.gridplacement(1 / span 1, 1 / span 1);
            align-self: center;
        }
        .imgContainer {
            h2 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
        .imgContainer1 {
            @include mixins.gridplacement(1 / span 1, 2 / span 1);
        }
        .imgContainer2 {
            @include mixins.gridplacement(1 / span 1, 3 / span 1);
        }
        .imgContainer3 {
            @include mixins.gridplacement(1 / span 1, 4 / span 1);
        }
        .socials {
            @include mixins.flex(space-evenly, column);
            align-items: flex-start;
            @include mixins.gridplacement(1 / span 1, 7 / span 1);
            .fab {
                font-size: 3rem;
            }
            span {
                font-size: 3rem;
                margin-left: 1rem;
            }
        }
        .projects__btn {
            @include mixins.flex(center, column);
            @include mixins.gridplacement(1 / span 1, 5 / span 1);
            border-bottom: 1px solid black;
            h3 {
                font-size: 3rem;
            }
        }
        .projBtn {
            width: 150px;
            height: 150px;
            background-color: black;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            outline: none;
            margin-bottom: 0.5rem;
        }
        .fa-arrow-right {
            color: white;
            font-size: 5rem;
        }
        .info__container {
            @include mixins.flex(center, row);
            @include mixins.gridplacement(1 / span 1, 6 / span 1);
            border: 2px solid black;
            padding: 2rem;
            margin-bottom: 1rem;
            p {
                font-size: 2rem;
                line-height: 3rem;
            }
            height: 50%;
            align-self: center;
        }
    }
    .nav__list {
        font-size: 1.3rem;
    }
    .about {
        flex-wrap: wrap;
        &__profileImg {
            margin: 2rem auto !important;
        }
    }
}
// ===============================================> MOBILE VIEW ==========>
@media all and (max-width: 430px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        row-gap: 1rem;
        h1 {
            font-size: 4rem;
            @include mixins.gridplacement(1 / span 1, 1 / span 1);
        }
        .imgContainer1 {
            @include mixins.gridplacement(1 / span 1, 2 / span 1);
        }
        .imgContainer2 {
            @include mixins.gridplacement(1 / span 1, 3 / span 1);
        }
        .imgContainer3 {
            @include mixins.gridplacement(1 / span 1, 4 / span 1);
        }
        .socials {
            @include mixins.flex(space-evenly, column);
            align-items: flex-start;
            @include mixins.gridplacement(1 / span 1, 7 / span 1);
            .fab {
                font-size: 2rem;
            }
            span {
                font-size: 2rem;
                margin-left: 1rem;
            }
        }
        .projects__btn {
            @include mixins.flex(center, column);
            @include mixins.gridplacement(1 / span 1, 5 / span 1);
            border-bottom: 1px solid black;
            h3 {
                font-size: 1.5rem;
            }
        }
        .projBtn {
            width: 70px;
            height: 70px;
            background-color: black;
            border-radius: 50%;
            cursor: pointer;
            border: none;
            outline: none;
            margin-bottom: 0.5rem;
        }
        .fa-arrow-right {
            color: white;
            font-size: 2rem;
        }
        .info__container {
            @include mixins.flex(center, row);
            @include mixins.gridplacement(1 / span 1, 6 / span 1);
            border: 2px solid black;
            padding: 2rem;
            margin-bottom: 1rem;
            p {
                font-size: 1.5rem;
                line-height: 2rem;
            }
            height: 100%;
            align-self: center;
        }
    }
    .nav__list {
        display: none;
    }
}
// <=============================================== END OF MOBILE VIEW <==========
