@use '../UTILS/reset';
@use '../UTILS/mixins';
@use '../UTILS/variables';

.grid {
    @include mixins.grid(repeat(20,1fr), repeat(5, 1fr));   
    h1 {
        font-size: 4rem;
        @include mixins.gridplacement(2 / span 12, 1 / span 2);
    }
    p {
        @include mixins.gridplacement(2 / span 2, 2 / span 1);
        align-self: center;
    }
}

.imgContainer {
    h2 {
        text-transform: capitalize;
    }
    p {
        color: #a5a5a5;
    }
}

.imgContainer1 {
    @include mixins.gridplacement(1 / span 6, 3 / span 2);
}
.imgContainer2 {
    @include mixins.gridplacement(8 / span 6, 2 / span 2);
}
.imgContainer3 {
    @include mixins.gridplacement(15 / span 6, 1 / span 2);
}

.imgWrapper {
    padding: .5rem;
    background-color: white;
    margin-bottom: 1rem;
}

.socials {
    @include mixins.flex(space-between, row);
    @include mixins.gridplacement( 1 / span 6, 5 / span 1);
    span {
        font-family: variables.$font;
    }
}

.fab {
    color: #000000;
    font-size: 1.1rem;
    text-transform: capitalize;
    span {
        margin-left: .4rem;
    }
}

.info__container {
    @include mixins.flex(center, row);
    @include mixins.gridplacement(10 / span 8, 5 / span 1);
    border: 2px solid black;
    border-bottom: none;
    padding: 2rem;
    p {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}

.projects__btn {
    @include mixins.flex(center, column);
    @include mixins.gridplacement(17 / span 4, 3 / span 2)
}

.projBtn {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    margin-bottom: .5rem;
}

.fa-arrow-right {
    color: white;
    font-size: 2.5rem;
}