@use '../UTILS/reset';
@use '../UTILS/mixins';

.grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    h1 {
        font-size: 4rem;
        grid-column: 2 / span 12;
        grid-row: 1 / span 2;
    }
    p {
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
        align-self: center;
    }
}

.imgContainer {
    h2 {
        text-transform: capitalize;
    }
    p {
        color: #a5a5a5;
    }
}

.imgContainer1 {
    grid-column: 1 / span 6;
    grid-row: 3 / span 2;
}
.imgContainer2 {
    grid-column: 8 / span 6;
    grid-row: 2 / span 2;
}
.imgContainer3 {
    grid-column: 15 / span 6;
    grid-row: 1 / span 2;
}

.imgWrapper {
    padding: .5rem;
    background-color: white;
    margin-bottom: 1rem;
}

.socials {
    @include mixins.flex(space-between, row);
    grid-column: 1 / span 6;
}

.fab {
    color: #000000;
    font-size: 1.1rem;
    text-transform: capitalize;
    span {
        margin-left: .3rem;
    }
}

.info__container {
    @include mixins.flex(center, row);
    grid-column: 10 / span 8;
    border: 2px solid black;
    border-bottom: none;
    padding: 2rem;
    p {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}

.projects__btn {
    @include mixins.flex(center, column);
    grid-column: 17 / span 4;
    grid-row: 3 / span 2;
}

.projBtn {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    margin-bottom: .5rem;
}

.fa-arrow-right {
    color: white;
    font-size: 2.5rem;
}